[user]
	email = guilherme.ramos@freiheit.com
	name = Guilherme Ramos
[core]
	editor = nano
	fileMode = false
[alias]
  pr = "!f() { $WORKSPACE/4-scripts/tooling/git/gitpr.sh \"${@}\";}; f"
  next = "!f() { $DOTFILES/scripts/git/gitnext.sh \"${@}\";}; f"
  bclean = "!f() { $DOTFILES/scripts/git/bclean.sh \"${@}\";}; f"
[pull]
	rebase = false
[push]
	default = current
[diff]
    tool = meld
[difftool]
    prompt = false
[difftool "meld"]
    cmd = meld "$LOCAL" "$REMOTE"