set nowrap

## Enable mouse support, if available for your system.  When enabled,
## mouse clicks can be used to place the cursor, set the mark (with a
## double click), and execute shortcuts.  The mouse will work in the X
## Window System, and on the console when gpm is running.
##
## set mouse

## Use smooth scrolling as the default.
## set smooth

syntax "comments" ".*"
color blue "^#.*"